*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
debug.keystore

# Firestore seeder
scripts/seed/node_modules/
scripts/seed/serviceAccountKey.json
